<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="newRecipe()">New Recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipe of recipes; let i = index"
    [passRecipeValue]="recipe"
    [index]="i"></app-recipe-item>
  </div>
</div>
